/* .content {
    grid-area: c;
    background-color: burlywood;
    
    } */
  .posts {
    padding: 30px;

  }
  .banner {
    width: 100%;
    height: 300px;
  }
  
  .userAvatar {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }

  .wrapper {
    padding: 30px;
  }

  .addFile {
    display: block;
  }